.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}

.ReactModal__Overlay {
    transition: opacity 0.75s ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Content {
    width: 60%;
    height: 85%;
    margin: 0 auto;
}

@media (max-width: 940px) {
    .ReactModal__Content {
    width: auto;
    height: 60%
    }
}