.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Content {
    width: 60%;
    height: 85%;
    margin: 0 auto;
}

@media (max-width: 940px) {
    .ReactModal__Content {
       height: 70%;
       width: auto;
    }
}

@media (max-width: 600px) {
    .ReactModal__Content {
       transform: translateY(2rem);
       height: 80%;
       width: auto;
       overflow: hidden; 
    }
}
