.ReactModal__Body--open,
.ReactModal__Html--open {
    overflow: hidden;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Content {
    width: 60%;
    height: 85%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgb(248,248,248);
    background: linear-gradient(to bottom, rgba(248,248,248,1) 40%, rgba(247,239,255,0.9) 100%);
}

@media (max-width: 940px) {
    .ReactModal__Content {
       height: 65%;
       width: auto;
    }
}

@media (max-width: 600px) {
    .ReactModal__Content {
       transform: translateY(2rem);
       height: 70%;
       width: auto;
       overflow: hidden; 
    }
}
